*{
    margin: 0;
    padding: 0;
    font-family: 'Pretendard-Regular';
    font-style: normal;
}

li{
    list-style: none;
}

a, i{
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 이 파일은 건드리지 말아주세요 */
/* 이 파일은 건드리지 말아주세요 */
/* 이 파일은 건드리지 말아주세요 */
/* 이 파일은 건드리지 말아주세요 */
/* 이 파일은 건드리지 말아주세요 */
/* 이 파일은 건드리지 말아주세요 */
/* 이 파일은 건드리지 말아주세요 */